src/main/mule/cloudhub-log-aggregator.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:objectstore="http://www.mulesoft.org/schema/mule/objectstore" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/objectstore http://www.mulesoft.org/schema/mule/objectstore/current/mule-objectstore.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	
	<flow name="cloudhub-log-aggregator-poll-flow">
		<scheduler doc:name="Scheduler" doc:id="87d24613-48fc-4aa3-8ed2-7c13a25e5ff1">
			<scheduling-strategy>
				<fixed-frequency frequency="30" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<set-variable variableName="environmentId" value="#[p('secure::environment.id')]" doc:name="set-environment-id" />
		<flow-ref name="cloudhub-log-aggregator-main-flow" doc:name="cloudhub-log-aggregator-main-flow" />
	</flow>
	<sub-flow name="cloudhub-log-aggregator-main-flow" doc:id="60c5a50e-743a-4377-bd87-5c510c5d50a4" >
		<ee:cache doc:name="Cache" doc:id="864d8128-af25-49e0-af20-05945ca1d5c7" cachingStrategy-ref="Expirable-cache-strategy">
			<flow-ref name="anypoint-platform-apis-post-accounts-login-flow" doc:name="anypoint-platform-apis-post-accounts-login-flow" target="loginResponse" targetValue="#[payload]" />
		</ee:cache>
		<os:retrieve doc:name="retrieve-loginResponse" doc:id="41d60692-47cc-4aa7-8da9-b115b7604946" key="loginResponse" objectStore="Object_store1" target="loginResponse">
			<os:default-value ><![CDATA[#['']]]></os:default-value>
		</os:retrieve>
		<ee:cache doc:name="Cache" doc:id="2ed06b3e-5f74-45cf-9bf2-3a5977d920b1" filterExpression='#[sizeOf(vars.loginResponse.accessToken default "") &gt; 0]'>
			<flow-ref name="anypoint-platform-apis-get-cloudhub-apps-flow" doc:name="anypoint-platform-apis-get-cloudhub-apps-flow" />
		</ee:cache>
		<foreach doc:name="For Each Application" collection="#[payload]">
			<set-variable variableName="appDomain" value="#[payload.domain]" doc:name="set-app-domain-as-variable" />
			<choice doc:name="Check-domain-name-to-avoid-gathering-logs-from-this-application">
				<when expression="#[vars.appDomain != 'cloudhub-log-aggregator']">
					<flow-ref doc:name="anypoint-platform-apis-get-cloudhub-logs-flow-process" doc:id="d8cabc17-7fa2-42f8-ac54-4f2d31f8b2d3" name="anypoint-platform-apis-get-cloudhub-logs-flow-process" target="upd" targetValue="#[payload]" />
					
				</when>
				<otherwise>
					<logger message="Not aggregating my own logs" level="DEBUG" doc:name="logger" />
				</otherwise>
			</choice>
		</foreach>
	</sub-flow>
	<sub-flow name="anypoint-platform-apis-get-cloudhub-logs-flow-process" doc:id="73936c65-c821-4b4b-bb89-bed3b43fd79d" >
		<os:retrieve doc:name="retrieve-app-domain-lower-id" doc:id="a7b29b0a-9168-4990-a298-ae890eaf44a5" key="#[vars.appDomain]" target="lowerId" objectStore="Object_store1">
						<os:default-value><![CDATA[#['']]]></os:default-value>
					</os:retrieve>
		<flow-ref name="anypoint-platform-apis-get-cloudhub-logs-flow" doc:name="anypoint-platform-apis-get-cloudhub-logs-flow" />
		<choice doc:name="check-if-the-payload-size-not-equal-0">
							<when expression="#[sizeOf(payload) != 0]">
										<set-variable variableName="lastRecord" value="#[payload[(sizeOf(payload) - 1) as Number]]" doc:name="set-last-record-as-variable" />
										<os:store key="#[vars.appDomain]" doc:name="store-last-record" objectStore="Object_store1" failOnNullValue="false">
					<os:value ><![CDATA[#[vars.lastRecord.recordId]]]></os:value>
				</os:store>
				<flow-ref doc:name="cloudhub-log-aggregator-batch-flow" doc:id="0dcba923-82ec-4116-8930-6b0fc6e61925" name="cloudhub-log-aggregator-batch-flow"/>
							</when>
							<otherwise>
								<logger message="No new records" level="INFO" doc:name="Logger" />
							</otherwise>
						</choice>
	</sub-flow>
	<flow name="cloudhub-log-aggregator-batch-flow" doc:id="825eb768-de8e-4c5d-b448-9ac7b5a45100" >
		<batch:job jobName="cloudhub-log-aggregator-push-logs-flow" doc:id="28b213b1-7591-487d-acfb-b4edfc0b43de" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="format-entry">
					<logger level="INFO" doc:name="Logger" message="#[payload]" />
				</batch:step>
				<batch:step name="push-to-external-log-repo">
					<logger level="DEBUG" doc:name="Logger" message="push-to-external-log-repo"/>
				</batch:step>			</batch:process-records>
		</batch:job>
	</flow>
</mule>