src/main/app/anypoint-platform-apis-cloudhub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

	<flow name="anypoint-platform-apis-get-cloudhub-apps-flow" processingStrategy="synchronous">
		<logger message="Get CloudHub Apps" level="INFO" doc:name="Logger" />

		<http:request config-ref="http-request-config" path="${cloudhub.apps.path}" method="GET" doc:name="GET Apps">
			<http:request-builder>
				<http:header headerName="X-ANYPNT-ENV-ID" value="#[flowVars.environmentId]" />
				<http:header headerName="Authorization" value="#['bearer '+flowVars.loginResponse.accessToken]" />
			</http:request-builder>
		</http:request>
		<logger message="Get CloudHub Apps - Status: #[message.inboundProperties.'http.status']" level="INFO" doc:name="Log Status" />
		<dw:transform-message doc:name="Transform Payload to Java">
			<dw:set-payload resource="classpath:dataweave/transform-payload-to-java.dwl" />
		</dw:transform-message>
	</flow>

	<flow name="anypoint-platform-apis-get-cloudhub-logs-flow" processingStrategy="synchronous">
		<logger message="Get CloudHub Logs for app #[flowVars.appDomain]" level="INFO" doc:name="Logger" />

		<dw:transform-message doc:name="Build Get/Post Logs Request">
			<dw:input-payload mimeType="application/java" />
			<dw:set-payload resource="classpath:dataweave/anypoint/platform/build-get-logs-request.dwl" />
		</dw:transform-message>

		<http:request config-ref="http-request-config" path="${cloudhub.logs.path}" method="POST" doc:name="GET Logs">
			<http:request-builder>
				<http:uri-param paramName="domain" value="#[flowVars.appDomain]" />
				<http:header headerName="X-ANYPNT-ENV-ID" value="#[flowVars.environmentId]" />
				<http:header headerName="Authorization" value="#['bearer '+flowVars.loginResponse.accessToken]" />
			</http:request-builder>
		</http:request>

		<logger message="Get CloudHub Logs - Status: #[message.inboundProperties.'http.status']" level="INFO" doc:name="Log Status" />
		<dw:transform-message doc:name="Transform Payload to Java">
			<dw:set-payload resource="classpath:dataweave/transform-payload-to-java.dwl" />
		</dw:transform-message>
	</flow>


</mule>
